.title {
  border-bottom: 1px solid #ccc;
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
  padding-bottom: 5px;
}

.ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.more {
  font-size: .9rem;
}
