@import "../../../styles/variables";

:root {
  --content-height: 50px;
  --content-width: 600px;
  --seekbar-height: 10px;
  --main-box-width: 500px;
  --thumbail-width: 65px;
}

.container {
  background: var(--background-gray);
  display: flex;
  height: var(--content-height);
  max-width: var(--content-width);
}

.thumbnailBox {
  height: var(--content-height);
  position: relative;
  width: 65px;
}

.mainBox {
  width: calc(100% - 65px);
}

.mainBoxTop {
  height: calc(var(--content-height) - var(--seekbar-height));
  margin: auto;
  position: relative;
  width: calc(100% - 2 * 5px); /* margin is 5px */
}

.mainBoxBottom {
  height: var(--seekbar-height);

  & > div {
    background: transparent !important;
  }
}

.loopButton {
  color: #666;
  position: absolute;
  z-index: 50;
}

.time {
  bottom: -5px;
  color: #777;
  font-size: .8rem;
  position: absolute;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.title {
  margin-top: 5px;
  padding: 0 50px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.loading {
  align-items: center;
  background: rgba(0, 0, 0, .4);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.slider {
  -webkit-app-region: no-drag; /* eslint-disable-line */
}
