@import "../../../styles/variables.css";

.wrapper {
  height: calc(50px + 40px);
}

.container {
  height: var(--header-main-height);
  -webkit-app-region: drag; /* stylelint-disable-line */
}

.main {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  width: 100%;

  & > .left,
  & > .right {
    flex: 0 0 auto;
    width: 300px;
  }

  & > .center {
    flex:1 1 auto;
  }

  & > .right {
    align-items: center;
    display: flex;
    height: var(--header-main-height);
    justify-content: space-between;
    padding: 0 20px;
  }
}

.sub {
  border-bottom: 1px solid #e5e5e5;
  height: var(--header-sub-height);
}
