@import "../../../styles/variables.css";

.container {
  display: flex;
  height: var(--header-main-height);
  -webkit-app-region: drag; /* stylelint-disable-line */
}

.player {
  width: 100%;
}

.user {
  display: flex;
  height: var(--header-main-height);
  position: absolute;
  right: 100px;
}

.sub {
  border-bottom: 1px solid #e5e5e5;
  height: var(--header-sub-height);
}
