.container {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  width: 200px;
}

.overlay {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 3000;
}

.popup {
  background: #f5f5f5;
  border: 1px solid #bbc8cc;
  box-shadow: 0 5px 20px 0 rgba(126, 137, 140, .2);
  padding: 10px;
  position: absolute;
  top: 50px; /* replace the value for toolbar height */
  width: 100%;
  z-index: 5000;
}

.popupContainer {
  align-items: center;
  display: flex;
}
