.container {
  height: calc(100% - 50px - 40px);
  overflow-y: auto;
}

.title {
  border-bottom: 1px solid #aaa;
  font-size: 1.1rem;
  margin: 10px;
  letter-spacing: .1rem;
  padding: 10px 0;
}

.main {
  & > p {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    padding: 5px 20px;
  }
}

.item {
  cursor: pointer;
}

.mylistItems {
  padding: 0;
  list-style: none;

  & > .mylistItem {
    cursor: pointer;
    font-size: .9rem;
    padding: 5px 20px;
  }
}

.mylistController {
  border-top: 1px solid #aaa;
  padding-top: 15px;

  & > p {
    align-items: center;
    display: flex;
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0;
    padding: 5px 20px;
  }
}

.active {
  background: #ddd;
  color: #666;
}
