:root {
  --container-height: 112.5px;
  --container-width: 210px;
}

.container {
  margin: 5px 2px;
  text-align: center;
  width: var(--container-width);
}

.img {
  height: 120px;
  position: relative;
  width: var(--container-width);

  &:hover .overlay {
    display: block;
  }
}

.info {
  margin: 10px 0 15px 0;

  & .title {
    display: -webkit-box;
    margin: 0;
    overflow: hidden;
    text-align: left;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  & .infoDetail {
    color: #666;
    margin-top: 5px;
    text-align: left;

    & > span {
      margin-right: 5px;
    }
  }
}

.totalTime {
  background: rgba(0, 0, 0, .7);
  bottom: 5px;
  color: #fff;
  padding: 3px;
  position: absolute;
  right: 5px;
}
