:root {
  --actions-height: 50px;
  --container-padding: 10px;
}

.container {
  height: 100%;
  padding: var(--container-padding);
}

.group {
  height: 95%;

  /* stylelint-disable */
  /* height: calc(100% - var(--actions-height) - var(--container-padding) * 2 - 10px); */
  /* stylelint-enable */
}
