:root {
  --margin: 5px;
}

.container {
  background: rgba(0, 0, 0, .6);
  color: white;
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.playBox {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  & > button {
    margin: 0 5px;
  }
}

.menu {
  bottom: 0;
  left: 0;
  position: absolute;
}

.videoId {
  cursor: pointer;
  font-size: .9rem;
  left: var(--margin);
  position: absolute;
}
