@import "../../../styles/variables";

.container {
  display: flex;
  height: calc(100% - var(--header-main-height) - var(--header-sub-height));
  left: calc(250px / 2);
  overflow-y: auto;
  position: relative;
  width: calc(100% - 250px);

  & > .loader {
    align-items: center;
    background: rgba(0, 0, 0, .7);
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 10000;
  }

  & > div {
    width: 100%;
  }
}
