.container {
  align-items: center;
  display: flex;
  margin: auto;
  width: 850px;
}

.box {
  align-items: center;
  display: flex;
  height: 100%;
  margin: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  & > *:first-child {
    margin-right: 10px;
  }
}
