.container {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 100;
}

.header {
  background: #f5f5f5;
  height: 30px;
}

.toolbox {
  align-items: center;
  display: flex;
  height: 100%;
  margin: 0 15px;

  & > span {
    margin-right: 15px;
  }
}

.webview {
  height: calc(100% - 120px);
}

.small {
  bottom: 0;
  height: 380px;
  right: 0;
  width: 480px;

  /* stylelint-disable */
  & > webview {
    height: calc(100% - 30px) !important;
  }
  /* stylelint-enable */
}
