:root {
  --condition-height: 35px;
}

.container {
  & > ul {
    height: calc(100% - var(--condition-height));
    overflow-y: auto;
  }
}

.condition {
  display: flex;
  height: 35px;
  width: 300px;

  & > div {
    border-radius: none;
    flex: 1;
  }
}

.categories {
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
}

.category {
  padding: 5px 10px;
  text-align: center;
  width: 150px;
}

.active {
  background: #ccc;
  color: #666;
}
