:root {
  --condition-height: 35px;
}

.container {
  height: 100%;

  & > ul {
    height: calc(100% - var(--condition-height));
    overflow-y: auto;
  }
}

.condition {
  display: flex;
  height: 35px;

  & > div {
    border-radius: none;
    flex: 1;
  }
}
