:root {
  --condition-height: 35px;
}

.container {
  width: 100%;

  & > ul {
    height: calc(100% - var(--condition-height));
    overflow-y: auto;
  }
}

.condition {
  align-items: center;
  display: flex;
  height: 35px;
  width: 400px;

  & > div {
    border-radius: none;
    flex: 1;
  }
}

.categories {
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
}

.category {
  cursor: pointer;
  padding: 5px 10px;
  text-align: center;
  width: 150px;

  &:hover {
    background: #e5e5e5;
  }
}

.categoryDetail {
  text-align: left;
}

.active {
  background: #ccc;
  color: #666;
}

.detail {
  color: #333;
  font-size: 1.4rem;
  margin-left: 20px;
}
