.container {
  display: flex;
  height: 100vh;
  justify-content: center; /* for login */
}

:global {
  @import '/node_modules/rc-slider/assets/index.css';
  @import '/node_modules/react-select/dist/react-select.css';

  & .rc-slider-disabled {
    background: transparent;
  }
}
