@import "./variables";
@import url('https://fonts.googleapis.com/css?family=Lato');

.container {
  display: flex;
  font-family: 'Lato', sans-serif;
  height: 100vh;
  justify-content: center; /* for login */
}

.left {
  background: var(--background-gray);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
  border-right: 2px solid #f5f5f5;
  height: 100%;
  left: 0;
  position: fixed;
  width: 270px;
}
