.container {
  margin: 0 20px 20px;
}

.ul {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(auto-fill, 220px);
  justify-content: space-evenly;
}

.watchInfo {
  color: #999;
  font-size: .8rem;
}
