.container {
  align-items: center;
  display: flex;
  width: 270px;
}

.button {
  height: 50px;
  margin: 0 5px;
  width: 30px;
}

.audio {
  display: none;
}

.slider {
  -webkit-app-region: no-drag; /* eslint-disable-line */
}

