.container {
  border-bottom: 1px solid #eee;
  display: flex;
  margin-top: 5px;
  padding-bottom: 5px;
  width: 100%;
}

.img {
  height: 80px;
  position: relative;
  width: 120px;

  &:hover .overlay {
    display: block;
  }
}

.info {
  height: 80px;
  margin-left: 15px;
  width: calc(100% - 120px - 15px);

  & > .title {
    font-size: .9rem;
    margin: 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 15px);
  }
}

.creator {
  align-items: center;
  display: flex;

  & > .creatorImg {
    border-radius: 50%;
    height: 30px;
    margin-right: 5px;
    width: 30px;
  }
}
